langgraph
langchain
python-dotenv
langchain-huggingface
streamlit
langgraph-checkpoint-sqlite
langchain-community
duckduckgo-search
fastmcp
langchain-mcp-adapters
pypdf
sentence-transformers
faiss-cpu